.ui-page{
    height: 100%;
}

.ui-content{
    height: 100%;
    padding: 0;
}

.startScreen{
    background: url(images/background.jpg) no-repeat;
    text-align: center;
}

.pseudoButton {
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-background-clip: border;
    -webkit-box-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
    xbackground-color: rgb(148, 4, 40);
    xbackground-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(148, 4, 40)));
    xbackground-image: -moz-linear-gradient(center bottom, rgb(100, 3, 29) 0%, rgb(148, 4, 40) 100%);
    -moz-box-shadow: 0 0 1px #666;
    -webkit-box-shadow: 0 0 1px #666;
    box-shadow: 0 0 1px #666;
    border: 1px solid #666;
    border-bottom-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    color: #ddd;
    cursor: pointer;
    margin: 10px 0px 10px 0px;
    /*position: relative;*/
    text-align: center;
    text-decoration: none;
    text-shadow: #666 0px -1px 1px;
    width: 50%;
    /*border-color: rgba(255, 255, 255, 0.296875);*/
    /*border-top: none rgba(255, 255, 255, 0.296875);*/
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    display: inline-block;
    overflow: hidden;
    padding: 48px 0 10px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
}